<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<meta name="Author" value="Jacoby King">
	<title>View All Showtimes</title>
	<style>
		table {
	  		font-family: arial, sans-serif;
	  		border-collapse: collapse;
	  		width: 80%;
		}
		td, th {
	  		border: 1px solid #000000;
	  		text-align: center;
	  		padding: 8px;
		}
		th {
	  		background-color: #dddddd;
		}
	</style>
	<script th:inline="javascript">
		let showtimes = /*[[${showtimes}]]*/ 'default';
		let user = /*[[${user}]]*/ 'default';
	</script>
	<script>
		function ticketsAvailable(){
			let checkedShowtime = document.querySelector("input[type=radio]:checked");
			for(let i = 0; i < showtimes.length; i++){
				if(checkedShowtime.value == showtimes[i].id){
					return showtimes[i].ticketsAvailable;
				}
			}
		}
		function setNewMax(){
			let ticketQuantityField = document.querySelector("input[name=ticketQuantity]");
			let tableRows = document.querySelectorAll("tr");
			let selectedRow = document.querySelector("table tr:has(td input[type=radio]:checked)");
			tableRows.forEach(row => row.style.backgroundColor = "#FFFFFF");
			document.querySelector("span").innerHTML = "";
			document.querySelector("input[name=ticketQuantity]").hidden = false;
			document.querySelector("input[name=purchaseTickets]").hidden = false;
			if(ticketQuantityField.value > ticketsAvailable()){
				ticketQuantityField.value = ticketsAvailable();
			}
			else if(ticketQuantityField.value == 0){
				ticketQuantityField.value = 1;
			}
			if(ticketsAvailable() == 0){
				document.querySelector("input[name=ticketQuantity]").hidden = true;
				document.querySelector("input[name=purchaseTickets]").hidden = true;
				let tableRows = document.querySelectorAll("tr");
				let selectedRow = document.querySelector("table tr:has(td input[type=radio]:checked)");
				for(let i = 0; i < tableRows.length; i++){
					if(selectedRow.cells[1].innerHTML == tableRows[i].cells[1].innerHTML && tableRows[i].cells[4].innerHTML > 0){
						tableRows[i].style.backgroundColor = "#66FF66";
						document.querySelector("span").innerHTML = "Unfortunately the movie you have selected is sold out!<br/>Here are a few movies we recommend:<br/>Golden showtimes are movies with your favorite genre.<br/>Green showtimes are movies with the same genre as the one you selected.";
					}
					if(user.favoriteGenre == tableRows[i].cells[1].innerHTML && tableRows[i].cells[4].innerHTML > 0){
						tableRows[i].style.backgroundColor = "#FFFF66";
						document.querySelector("span").innerHTML = "Unfortunately the movie you have selected is sold out!<br/>Here are a few movies we recommend:<br/>Golden showtimes are movies with your favorite genre.<br/>Green showtimes are movies with the same genre as the one you selected.";
					}
				}
			}
			ticketQuantityField.max = ticketsAvailable();
		}
		function loadPage(){
			if(user.userPermissions < 1){
				document.querySelector("button:nth-of-type(2)").hidden = true;
			}
			if(showtimes.length == 0){
				document.querySelector("span").innerHTML = "No Showtimes Available Today";
				document.querySelector("input[name=ticketQuantity]").hidden = true;
				document.querySelector("input[name=purchaseTickets]").hidden = true;
			}
			else{
				document.querySelector("input[name = 'ticketQuantity']").value = 1;
				document.querySelector("input[name=id]").checked = true;
				setNewMax();
			}
		}
	</script>
</head>
<body onload="loadPage()">
	<form th:action="@{/purchaseTickets}" method=POST>
		<table>
			<tr>
				<th>Title</th>
				<th>Genre</th>
				<th>Time</th>
				<th>Theater Number</th>
				<th>Tickets Available</th>
				<th>Selected Showtime<th>
			</tr>
			<tr th:each="currentShowtime : ${showtimes}">
				<td th:text="${currentShowtime.movie.title}" />
				<td th:text="${currentShowtime.movie.genre}" />
				<td th:text="${currentShowtime.time}" />
				<td th:text="${currentShowtime.theaterNumber}" />
				<td th:text="${currentShowtime.ticketsAvailable}" />
				<td><input type="radio" name="id" th:value="${currentShowtime.id}" onchange="setNewMax()"></td>
				<!-- This needs to handle errors if there is a relationship between this Showtime and a User
				<td><a th:href="@{/delete/{id}(id=${currentShowtime.id})}">Delete</a></td>
				 -->
				<!-- This does not bring in the information for the Showtime to edit
				<td><a th:href="@{/edit/{id}(id=${currentShowtime.id})}">Edit</a></td>
				 -->
			</tr>
		</table>
		<span></span><br>
		<input type="number" name="ticketQuantity" size="1" min="1" onchange="if(value<1){value=1;} else if(value>ticketsAvailable()){value=ticketsAvailable();}"><br>
		<input type="submit" name="purchaseTickets" value="Purchase Tickets"><br>
		<!-- Work in Progress
		<button onclick="timeSort()">Sort by Time</button>
		<script> 
			//This should sort the table by times
			function timeSort() {
  				table.findByOrderTimeAsc();
			}
		</script>
		 -->
	</form>
	<button onclick="window.location.href='viewTicketsPurchased'">View Your Current Tickets</button>
	<button onclick="window.location.href='addShowtime'">Add a New Showtime</button>
</body>
</html>