<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="ISO-8859-1">
	<meta name="Author" value="Jacoby King">
	<title>Sign In</title>
	<script th:inline="javascript">
		let users = new Array();
		users = /*[[${users}]]*/ 'default';
	</script>
	<script>
		function validateFields(){
			let usernameTextField = document.querySelector("input[name = 'username']");
			let passwordTextField = document.querySelector("input[name = 'password']");
			let message = "";
			let match = false;
			for(let i = 0; i < users.length; i++){
				if(usernameTextField.value == users[i].username && passwordTextField.value == users[i].password){
					match = true;
					document.querySelector("input[name = 'id']").value = users[i].id;
				}
			}
			if(!match){
				message = "Account not found";
				event.preventDefault();
			}
			document.querySelector("span").innerHTML = message;
		}
	</script>
</head>
<body>
	<form th:action="@{/signIn}" method=POST>
  		<label for="username">Username:</label><br>
  		<input type="text" id="username" name="username" maxlength="15"><br>
  		<label for="password">Password:</label><br>
  		<input type="text" id="password" name="password" maxlength="15"><br>
  		<input type="hidden" id="id" name="id"><br>
  		<input type="submit" value="Submit" onclick="validateFields()">
	</form> 
	<span></span><br>
	<a href="createUser">Create an Account</a><br/>
</body>
</html>