<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Create an Account</title>
</head>
<body>
	<form th:object="${newUser}" th:action="@{/createUser}" method=POST>
		First Name: <input name="firstName" size="20" th:field="*{firstName}"> <br />
		Last Name: <input name="lastName" size="20" th:field="*{lastName}"> <br />
		Username: <input name="username" size="10" th:field="*{username}"><br/>
		Password: <input name="password" size="10" th:field="*{password}"><br />
		<input name="submit" type="submit" value="submit" /><!-- onclick="validateFields()" -->
	</form>
</body>
</html>